from sicekit_wiki_exportimport.wikiconfiguration import WikiConfiguration

def getWikiConfiguration():
	return WikiConfiguration(
		username='',
		password='',
		domain=None,
		url='', # API URL
		cookie_filename='/tmp/cookie'
		)
